@import './variables';
@import './header';
@import './showcase';
@import './boxes';
@import './newsletter';

/* Global */
body{
    height: 100%;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: #232527;
    color: #ffffff;
    &::before {
        content: "";
        height: 100%;
        float: left;
        width: 0;
    }
}
main {
    min-height: 100%;
    &::after {
        display: block;
        height: 50px;
    }
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
ul{
    margin:0;
    padding:0;
}
.button_1{
    height:38px;
    background:#850c0c;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}
.dark{
    padding:15px;
    background:$darkGrayColor;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

footer {
    padding:10px 0px;
    color:#ffffff;
    background-color: $darkGrayColor;
    text-align: center;
    clear: both;
    position: relative;
    height: 50px;
    margin-top: -50px;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
    }
}
